coverage.txt
bin/
dist/
.vscode
.envrc
.terraform
.terraform.lock.hcl
output/

# Test helper binaries
pkg/clients/connector/testdata/connector-test-helper
pkg/clients/connector/testdata/connector-test-helper.exe